
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/secrets/dev/dev.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> safe /vendor/symfony/http-kernel/Kernel.php for Kernel::build()
/vendor/*
#!/vendor/symfony
#/vendor/symfony/*
#!/vendor/symfony/http-kernel
#/vendor/symfony/http-kernel/*
#!/vendor/symfony/http-kernel/Kernel.php
###< safe /vendor/symfony/http-kernel/Kernel.php for Kernel::build()

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

/bundles/