{#
	_FOR_UPDATE_WITHOUT_REDIRECT_
	When session is update dump this component will be different:
	
	Usage:
		<turbo-frame id="<>" data-dt-updateable="{{ path('<>', { _locale: app.request.locale }) }}">
			{{ component('gs_dt', { dt: <> }) }}
		</turbo-frame>
#}

{% set locale = app.request.locale ?? DEFAULT_LOCALE %}

<span>
	{% if dt %}
	
		{% if tz is not defined or tz == '' %}
			{% set tz = app.session.get(gs_generic_parts.timezone_session_name, 'UTC') %}
		{% endif %}
		
		{{ dt|gs_for_user(tz=tz, locale=locale) }}
	
	{% else %}
		{{ '' }}
	{% endif %}
</span>