<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {#
		<title>{% block gs_generic_parts_title %}{% endblock %}</title>
		#}
        {% block stylesheets %}
            {{ encore_entry_link_tags('gs_generic_parts') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('gs_generic_parts') }}
        {% endblock %}
    </head>
    <body>
        {% block gs_generic_parts_body_header %}{% endblock %}
        {% block gs_generic_parts_body %}{% endblock %}
    </body>
</html>
