<div class="toast-container position-fixed top-0 end-0">
	
	{% for alerts in [
		{
			type:			'notice',
			options:		{
				
			},
		},
		{
			type:			'notice_persist',
			options:		{
				persist:		true,
			},
		},
	]
	%}
		{% set type			= alerts.type %}
		{% set options		= alerts.options %}
		
		{% for message in app.flashes(type) %}
			{{ component('gs_alert', options|merge({
				message,
			})) }}
		{% endfor %}
	{% endfor %}
	
</div>