{#
	Usage:
		{{ component('gs_submit_button', {
			text:		'Отправить',
			
			class:		'',
			attr:		{},
		}) }}
#}

<button
	type="submit"
	class="{{- class -}}"
	{{- attr|gs_array_to_attribute -}}
>
{{- text|raw -}}
</button>