<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ERROR{% endblock %}</title>
    </head>
    <body>
        {% block body %}
			BASE ERROR PAGE
		{% endblock %}
    </body>
</html>
